//include ./common/_vars
//block variables

doctype html
html
    head
        meta(charset="utf-8")
        title Assets
        meta(content="" name="author")
        meta(content="" name="description")
        meta(content="" name="keywords")
        meta(content="width=device-width, initial-scale=1" name="viewport")
        meta(content="ie=edge" http-equiv="x-ua-compatible")

        // Fonts
        <link href='https://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates:200,300,400,500,600,700,800,900&amp;subset=cyrillic" rel="stylesheet">

        // Pretty checkboxes
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0.3/dist/pretty-checkbox.min.css">

        // My styles
        link(rel="stylesheet" href="../../css/main.css")

        script(src="../../js/addAsset.js" defer)

        <!--[if lt IE 9]>
        script(src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
        script(src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js")
        <![endif]-->

    body
        block content
        script(src="https://use.fontawesome.com/releases/v5.0.8/js/all.js")
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/rx-lite@4.0.8/rx.lite.min.js"></script>

